---
---
@charset "utf-8";

//@import "normalize";
@import "foundation";
@import "foundation-icons";


h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
}

ul, ol {
    margin: 0;
    padding: 0;
}

a {
    color: #008cba;
    font-family: $font-family-sans-serif;
    text-decoration: none;
}


.logo {
    height: 64px;
    margin-right: 4px;
    padding: 8px;
}

.content section {
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
    font-family: $font-family-serif;
}

.content section h2 {
    font-weight: 800;
}

footer {
    padding: 100px 0;
    font-size: 90%;
    text-align: center;
}

footer h3 {
    color: #777;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

footer li {
    padding-left: 40px;
}

footer li:first-child {
    padding-left: 0;
}

footer li a {
    color: #333;
    font-size: 1rem;
    font-weight: 700;
}
