---
---
@charset "utf-8";


//@import "normalize";
@import "foundation";
@import "foundation-icons";


$header-font-weight-bold: 800;
$header-font-weight-normal: 200;



// generics

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
}

ul, ol {
    margin: 0;
    padding: 0;
}

a {
    color: #008cba;
    font-family: $font-family-sans-serif;
    text-decoration: none;
}



// layout

.top-bar {
    padding: 0 50px;
}

.logo {
    height: 64px;
    margin-right: 4px;
    padding: 8px;
}

.content section {
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
    font-family: $font-family-serif;
}

.content section h2 {
    font-weight: $header-font-weight-bold;
}

footer {
    padding: 100px 0;
    font-size: 90%;
    text-align: center;
}

footer h3 {
    color: #777;
    font-size: 1.2rem;
    font-weight: $header-font-weight-bold;
    margin-bottom: 20px;
}

footer li {
    padding-left: 40px;
}

footer li:first-child {
    padding-left: 0;
}

footer li a {
    color: #333;
    font-size: 1rem;
    font-weight: $header-font-weight-bold;
}



// specific content

#headline {
    padding: 170px 0 120px;
    background: url('/img/DSC00397.jpg') 50% 50%;
    background-size: cover;
    color: #fff;
    text-align: center;
}

#headline h1 {
    font-weight: $header-font-weight-normal;
    font-size: 1.75rem;
    margin: 0;
}

#headline p {
    margin: 0;
    font-family: $font-family-sans-serif;
}

#headline h4 {
    margin: 5rem 0 0;
}

#headline h1 strong {
    font-weight: $header-font-weight-bold;
}
