---
---
@charset "utf-8";


//@import "normalize";
@import "foundation";
@import "foundation-icons";


$header-font-weight-bold: 800;
$header-font-weight-normal: 200;


$bright-blue: #008cba;



// generics

body.f-topbar-fixed {
    padding-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
}

ul, ol {
    margin: 0;
    padding: 0;
}

a {
    color: $primary-color;
    font-family: $font-family-sans-serif;
    text-decoration: none;
}



// layout

.top-bar {
    background: none;
}

.logo {
    height: 64px;
    margin-right: 4px;
    padding: 8px $column-gutter / 2;
}

.content section {
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
    font-family: $font-family-serif;
}

.content section h2 {
    font-weight: $header-font-weight-bold;
}

footer {
    padding: 100px 0;
    font-size: 90%;
    text-align: center;
}

footer h3 {
    color: #777;
    font-size: 1.2rem;
    font-weight: $header-font-weight-bold;
    margin-bottom: 20px;
}

footer li a {
    color: #333;
    font-size: 1rem;
    font-weight: $header-font-weight-bold;
}

.reveal-modal, .reveal-modal-bg {
    position: fixed;
}



// specific content

#headline {
    padding: 170px 0 120px;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%),
        url('/img/banner-laptop.jpg') repeat 50% 50%;
    background-size: cover;
    color: #fff;
    text-align: center;
}

#headline h1 {
    font-weight: $header-font-weight-normal;
    font-size: 1.75rem;
    margin: 0;
}

#headline h1 strong {
    font-weight: $header-font-weight-bold;
}

#headline h4 {
    margin: 5rem 0 0;
}

#headline p {
    margin: 0;
    font-family: $font-family-sans-serif;
}

#headline a {
    background: rgba(0, 0, 0, 0.75);
    padding: 0 0.25rem;
}

#headline a:hover {
    color: lighten($primary-color, 25%);
}
