<footer>
    <div class="row">
        <div class="small-12 large-12 columns">
            <h3>TO Crypto - Toronto's Privacy Advocacy</h3>
            <ul class="button-group">
                <li><a data-reveal-id="ircModal" href="#" class="button"><i class="fi-comment"></i> IRC/Chatroom</a></li>
                <li><a href="https://twitter.com/torontocrypto" class="button" target="_blank"><i class="fi-social-twitter"></i> Twitter</a></li>
                <!-- <li><a data-reveal-id="contactModal" href="#" class="button"><i class="fi-mail"></i> Contact us</a></li> -->
                <li><a href="mailto:info@torontocrypto.org" class="button"><i class="fi-mail"></i> Contact us</a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="{{ '/js/jquery.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/foundation.min.js' | prepend: site.baseurl }}"></script>
<script>
$(document).foundation();
</script>
