<footer>
    <div class="row">
        <div class="small-12 large-12 columns">
            <h3>Toronto Crypto</h3>
            <ul class="button-group">
                <li><a data-reveal-id="ircModal" href="#" class="button"><i class="fi-comment"></i> IRC/Chatroom</a></li>
                <li><a href="https://encrypt.to/0xF7C7BFE3" class="button"><i class="fi-mail"></i> Contact Us Securely</a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="{{ '/js/jquery.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/foundation.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/target_blank.js' | prepend: site.baseurl }}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic">
<link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
<script>
$(document).foundation();
</script>
