<div class="fixed contain-to-grid">
    <nav role="navigation" data-topbar class="top-bar">
        <ul class="title-area">
            <li>
               <a href="/"><img src="/img/logo.png" class="logo"></a>
            </li>
        </ul>

        <section class="top-bar-section">
            <ul class="left">
                <li><a href="/cryptoparty">CryptoParty</a></li>
                <li><a href="/media">Media</a></li>
                <li><a href="/downloads">Downloads</a></li>
            </ul>
            <ul class="right">
                <li class="social"><a data-reveal-id="ircModal" href="#"><i class="fi-comment"></i></a></li>
                <li class="social"><a data-reveal-id="btcModal" href="#"><i class="fi-bitcoin-circle"></i></a></li>
                <li class="social"><a href="https://twitter.com/torontocrypto" target="_blank"><i class="fi-social-twitter"></i></a></li>
                <!-- <li class="social"><a data-reveal-id="contactModal" href="#"><i class="fi-mail"></i></a></li> -->
                <li class="social"><a href="mailto:info@torontocrypto.org"><i class="fi-mail"></i></a></li>
            </ul>
        </section>
    </nav>
</div>
