<div class="fixed contain-to-grid">
    <nav role="navigation" data-topbar class="top-bar">
        <ul class="title-area">
            <li>
               <a href="/"><img src="https://353a23c500dde3b2ad58-c49fe7e7355d384845270f4a7a0a7aa1.ssl.cf2.rackcdn.com/assets/images/4199fc3fdce1946c84175dbb1c02a8445ed919de/logo_-4199fc3f.png" class="logo"></a>
            </li>
        </ul>

        <section class="top-bar-section">
            <ul class="left">
                <li><a href="/cryptoparty">CryptoParty</a></li>
            </ul>
            <ul class="right">
                <li class="social"><a data-reveal-id="ircModal" href="#"><i class="fi-comment"></i></a></li>
                <li class="social"><a href="https://twitter.com/torontocrypto" target="_blank"><i class="fi-social-twitter"></i></a></li>
                <!-- <li class="social"><a data-reveal-id="contactModal" href="#"><i class="fi-mail"></i></a></li> -->
                <li class="social"><a href="mailto:info@torontocrypto.org"><i class="fi-mail"></i></a></li>
            </ul>
        </section>
    </nav>
</div>
