---
layout: default
permalink: /
---

<section id="headline">
    <div class="row">
        <div class="large-2 columns">&nbsp;</div>
        <div class="small-12 large-8 columns">
            <h1>{{ site.title }}</h1>
            <h3>
                Home of the Toronto CryptoParty,<br>
                a social movement to reclaim digital privacy.
            </h3>
        </div>
        <div class="large-2 columns">&nbsp;</div>
    </div>
</section>

<section id="{{ post.anchor }}">
    <div class="row">
        <div class="large-2 columns">&nbsp;</div>
        <div class="small-12 large-8 columns">

            {% for post in site.categories.blog %}

            {% include post.html %}

            {% endfor %}

        </div>
        <div class="large-2 columns">&nbsp;</div>
    </div>
</section>
 