---
layout: default
---

<section id="headline">
    <div class="row">
        <div class="large-12 columns">
            <h1>{{ site.title }}</h1>
            <h3>
                Toronto's privacy advocacy.
            </h3>
        </div>
    </div>
</section>

<section id="{{ post.anchor }}">
    <div class="row">
        <div class="large-8 columns">

            {% for post in site.categories.blog %}

			<article>
			    <header>
			        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			        <h6 class="subheader">Posted by {{ post.author }} on {{ post.date | date: '%b %-d, %Y' }}</h6>
			    </header>
			    {{ post.content }}
			</article>

            {% endfor %}

        </div>
        <div class="large-4 columns">
            {% include twitter.html %}
        </div>
    </div>
</section>
